temp notes.txt
src/data/Vicomtech-hate-speech-dataset/README.md
src/data/avaapm-hatespeech/README.md
src/data/avaapm-hatespeech/dataset_v2/readme.md
src/data/avaapm-hatespeech/dataset_v2/hate_speech_dataset_v2_labeler.csv